body{
	padding:2%;
}
.flexparent{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;
max-width: 100%;
}
.flexparent>div{
margin:1%;
padding: 1%;
border: 1px solid #ddd;
max-width: 100%;
text-align: center;
box-shadow: 2px 2px 2px 2px solid maroon;

}
img{
	width: 200px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
button{
width:100%;
padding: 2%;
background-color:maroon;
color: white;
box-shadow: 3px 3px 3px #ddd;

}
h1{
	background-color:maroon;
	margin: 1%;
	color: white;
	padding: 2%;
	width: 100%;
	box-shadow:4px 4px 4px #ddd;
	text-align: center;
}
.foot{
	box-shadow: 2px 2px 2px 2px;
	background: #fff;
	padding: 2%;
	margin: 2%;
	max-width: 100%;
	text-align: center;
	color: #2D0242;
	font-size: 20px;
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
	.flexparent{
	display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;

}
.flexparent>div{
margin:1%;
padding: 1%;
border: 1px solid #ddd;
width: 90%;
}
.foot{
	box-shadow: 2px 2px 2px 2px;
	background: #fff;
	padding: 2%;
	margin: 2%;
	max-width: 100%;
	text-align: center;
	color: #2D0242;
	font-size: 20px;
}
}
@media only screen and (min-device-width:481px) and (max-device-width:768px){
	.flexparent{
	display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;
}
.flexparent>div{
margin:1%;
padding: 1%;
border: 1px solid #ddd;
width: 90%;
}
.foot{
	box-shadow: 2px 2px 2px 2px;
	background: #fff;
	padding: 2%;
	margin: 2%;
	max-width: 100%;
	text-align: center;
	color: #2D0242;
	font-size: 20px;
}	
}
@media only screen and (min-device-width:769px) and (max-device-width:1024px){
	.flexparent{
	display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;
}
.flexparent>div{
margin:1%;
padding: 1%;
border: 1px solid #ddd;
width: 90%;
}
.foot{
	box-shadow: 2px 2px 2px 2px;
	background: #fff;
	padding: 2%;
	margin: 2%;
	max-width: 100%;
	text-align: center;
	color: #2D0242;
	font-size: 20px;
}	
}